# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
/backend/angular/3rdpartylicenses.txt
/backend/angular/favicon.ico
/backend/angular/index.html
/backend/angular/main.bf5cf708a9f119a01b19.js
/backend/angular/polyfills.5dbc5bea3dcdfa401b0a.js
/backend/angular/runtime.f4a11e2b938f61dcecb6.js
/backend/angular/styles.fd4ae24f4289efaa30a6.css
