@import "node_modules/@coreui/coreui";
@import "theme";

.success {
    color: #01a801;
}
.bg-success {
    background-color: #01a801;
    color: white;
}
.error {
    color: #ea1515;
}
.bg-error {
    background-color: #ea1515;
    color: white;
}
.bg-info {
    background-color: #313131;
    color: white;
}
.row {
    margin: 0;
}
