.success {
    color: #01a801;
}
.bg-success {
    background-color: #01a801;
    color: white;
}
.error {
    color: #ea1515;
}
.bg-error {
    background-color: #ea1515;
    color: white;
}
.bg-info {
    background-color: #313131;
    color: white;
}
.mat-simple-snackbar {
    justify-content: space-around !important;
}
.row {
    margin: 0;
}
